<h4>Drag a row or two over here +</h4>
<div id="rows">
  <div id="sectionCards" cdkDropList #rowlist="cdkDropList" [cdkDropListData]='row'
    [cdkDropListConnectedTo]='[cardlist]' (cdkDropListDropped)='drop($event)'>
    <div class="example-box" cdkDrag *ngFor="let item of row">
      <h3>{{item}}</h3>
    </div>
  </div>
  <div id="componentBoxes" cdkDropList #cardlist="cdkDropList" [cdkDropListData]='cards'
    [cdkDropListConnectedTo]='[rowlist]' (cdkDropListDropped)='drop($event)'>
    <div class="example-box" cdkDrag *ngFor="let item of cards">
      <h3>{{item}}</h3>
    </div>
  </div>
</div>
<h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam accusantium illum unde quam excepturi dolore veritatis culpa corporis similique, molestiae incidunt quia ab optio amet laudantium id at. Esse, sunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus laudantium, perferendis sit incidunt veritatis similique quibusdam, quaerat architecto amet, dicta quisquam! Doloribus hic officia culpa sit ipsa modi iste eum!</h6>

