<div id="componentsColumn">
  <div id="componentBoxes" cdkDropList #sectionList="cdkDropList" [cdkDropListData]='availableCards'
    [cdkDropListConnectedTo]='[sectionListItem]' (cdkDropListDropped)='drop($event)'>
    <div class="example-box" cdkDrag *ngFor="let card of availableCards">
      <h3>{{card.title}}</h3>
    </div>
  </div>
</div>
<div id="display">
  <div id="dropZone"
    #sectionListItem="cdkDropList"
    [cdkDropListData]='sections' cdkDropList
    (cdkDropListDropped)='drop($event)'
    [cdkDropListConnectedTo]='[sectionListItem]' >

    <div id="sectionCards " class="example-box"
      #rowListItem="cdkDropList" *ngFor="let section of sections"
      [cdkDropListData]='sections' cdkDropList
      (cdkDropListDropped)='drop($event)'
      [cdkDropListConnectedTo]='[rowListItem]' >
      <div><h3>Section {{section.title.title}}</h3></div>

      <div id="rowCards">
        <h3>{{section.title.title}} + drag a row here if you'd like!</h3>

        <div id="rowInSection"
        #rowListItem="cdkDropList" *ngFor="let row of section.rows"
        [cdkDropListData]='sections'  cdkDropList
        [cdkDropListConnectedTo]="sectionListItem"
        (cdkDropListDropped)='drop($event)'>

          <h1>{{row.title}}</h1>

          <div id="cardInRow"
          *ngFor="let card of row.cards"
           cdkDropList
           [cdkDropListConnectedTo]="rowListItem"
           #cardListItem="cdkDropList"
           (cdkDropListDropped)='drop($event)'
           [cdkDropListData]="cards">

            <h1>{{card.title}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
